.avatar-stack .avatar-item {
  background-color: #8B1A1A; 
  
  margin-left: -12px; 
  
  border: 2px solid #fff; 
  
  width: 45px;
  height: 45px;
  transition: all 0.2s ease;
  position: relative;
}

.avatar-stack .avatar-item:first-child {
  margin-left: 0;
}

